body{
	font-family: Arial, sans-serif;
}

nav{
	width: 100%;
	height: 80px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 255px;
	float: left;
}

.menu{
	float: left;
	padding-left: 432px;
}

.menu li{
	float: left;
	line-height: 60px;
	margin-right: 40px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 80px);
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}

.title__container{
	float: left;
	margin: 200px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}

.title__container h1{
	font-size: 60px;
	font-weight: bold;
}

.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 50px 14px 0px 14px;
}

.title__container1{
	text-align: center;
	color: #263244;
	font-size: 28px;
	text-transform: uppercase;
	height: 55px;
	margin-top: 100px;
	font-weight: bold;
}

.title__container1 img{
	margin-top: 30px;
}

.img2{
	text-align: center;
	margin-top: 50px;
}

.text1{
	text-align: center;
	margin: 30px;
	font-size: 16px;
	color: #3f495a;
}
.text1>p{
	margin: 30px;
	display: block;
}

.text1 input{
	height: 30px;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 10px 14px 0px 14px;
	font-weight: bold;

}

.title__container2{
	width: 100%;
	height: calc(100% - 300px);
	background: url(../img/bg2.png) center/cover no-repeat;

}

.title__container2>h2{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 100px;
	padding-top: 80px;
	color: #384354;
}

.line2{
	text-align: center;
	margin-top: 30px

}

.nb{
	float: left;
	text-align: center;
	width: 15%;
	margin: 50px 80px;
	font-size: 14px;

}

.nb img{
	margin-bottom: 30px;
}

.p1{
	color: #d17700;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.symb{
	float: left;
	text-align: center;
	width: 15%;
	margin: 50px 80px;
	font-size: 14px;
}

.symb img{
	margin-bottom: 30px;
}

.rocket{
	float: left;
	text-align: center;
	width: 15%;
	margin: 50px 50px;
	font-size: 14px;
}

.rocket img{
	margin-bottom: 30px;
}

.symb2{
	float: left;
	text-align: center;
	width: 15%;
	margin: 50px 70px;
	font-size: 14px;
}

.symb2 img{
	margin-bottom: 30px;
}

.title__container3 h2{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 28px;
	height: 60px;
	margin-top: 150px;
	color: #384354;
	font-weight: bold;
}

.line3{
	text-align: center;
}

.text_cases{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 13px;
	margin-bottom: 30px;
	color: #3f495a;
	margin-top: 35px;
	font-weight: bold;
}

.photo{
	width: 100%;
	float: left;
	text-align: center;

}

.text2{
	float: left;
	margin-left: 150px;
	padding: 20px;
	color: #3f495a;
	font-family: Calibri;
	line-height: 20px;
}
.text2 b{
	color: #384354;
	font-size: 16px;
	font-family: Arial;
}

.text2 a{
	border: 1px solid #63b5ae;
	border-radius: 5px;
	font-family: Arial;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
    top: 15px;
    padding: 10px 40px 10px 40px;
    background-color: #63b5ae

}

.text3{
	float: left;
	margin-left: 500px;
	padding-right: 200px;
	line-height: 20px;
	position: relative;
	top: -120px;
	word-wrap: break-word;
}

.project_name{
	color: #384354;
	font-weight: bold;
	font-size: 16px;
}

.title__container4{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #1c2534;
	font-weight: bold;
	margin-top: 50px;
}


.type{
	float: left;
	width: 97.5%;
	font-size: 20px;
	color: #1c2534;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 10px;
	margin-left: 315px;
	font-weight: bold;
}

.design{
	float: left;
	width: 97.5%;
	font-size: 20px;
	color: #1c2534;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 315px;
	font-weight: bold;
}

.adapt{
	float: left;
	width: 97.5%;
	font-size: 20px;
	color: #1c2534;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 315px;
	font-weight: bold;
}


.type_select{
	margin-top: 15px;
	background: #eeeeee;
	width: 60%;
	padding: 12px;
	float: left;
}

.design_select{
	margin-top: 15px;
	background: #eeeeee;
	width: 60%;
	padding: 12px;
	float: left;
}

.adapt_select{
	margin-top: 15px;
	background: #eeeeee;
	width: 60%;
	padding: 12px;
	float: left;
}
select{
	color: #737373;
	font-size: 12px;
	font-weight: bold;

}

.span{
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #1c2534;
	margin-left: 315px;
	line-height: 30px;
	margin-top: 10px;
}

.span1{
	float: right;
	font-size: 16px;
	font-weight: bold;
	color: #1c2534;
	margin-right: 315px;
	line-height: 30px;
	margin-top: 10px;
}

.price{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}


.title__container5 h2{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 40px;
	color: #384354;
	font-weight: bold;
}

.line4{
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

.smile{
	float: left;
	text-align: center;
	margin: 85px 80px;
	width: 15%;
}

.smile img{
	margin-bottom: 20px;
}

.brace{
	float: left;
	text-align: center;
	margin: 85px 50px;
	width: 15%;
}

.brace img{
	margin-bottom: 20px;
}


.check{
	float: left;
	text-align: center;
	margin: 85px 50px;
	width: 15%;
}

.check img{
	margin-bottom: 20px;
}


.cup{
	float: left;
	text-align: center;
	margin: 85px 80px;
	width: 15%;
}

.cup img{
	margin-bottom: 20px;
}

.numbers{
	font-size: 28px;
	font-weight: 800;
	color: #323e4f;
	margin-bottom: 20px;
}

.text5{
	font-size: 16px;
	color: #323d4f;
	text-transform: uppercase;
}



.title__container5{
	background: url(../img/bg3.png) center/cover no-repeat;
	float: left;
	margin-top: 160px;
	width: 100%;
}

.line5{
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

.man{
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 40px;
}

.feedback{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 40px;
	line-height: 20px;
	color: #243042;
}

.michail{
	margin-top: 20px;
	color: #243042;
}

.title__container6 h2{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 80px;
	color: #384354;
	font-weight: bold;
}

.line6{
	margin-top: 30px;
	text-align: center;
}

.title__container6 p{
	float: left;
	width: 100%;
	text-align: center;
	color: #243042;
	padding-top: 30px;
}


.title__container6 img{
	float: left;
	margin-left: 710px;
	padding: 50px 0px 10px 0px;
}

footer{
	background: url(../img/bg4.png) center/cover no-repeat;
	float: left;
	width: 100%;
	margin-top: 100px;
	height: 600px;

}

.logo1 h2{
	text-align: center;
	color: #fff;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 80px;
	font-weight: bold;

}

.logo1 p{
	text-align: center;
	color: #fff;
	margin-top: 30px;
}

.logo1 span{
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	word-spacing: 120px;
	margin-top: 10px;
}

.img1{
	text-align: center;
	word-spacing: 230px;
	margin-top: 30px;
	
}

.logo1 h4{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 30px;
}

form{
	text-align: center;
}
.input{
	margin-left: 10px;
	width: 350px;
	height: 32px;
	opacity: 80%;
}

textarea{
	width: 720px;
	height: 80px;
	opacity: 80%;
	margin-top: -20px;
}

.submit{
	border: 2px solid #fff;
	background: none;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
	padding: 10px 15px;
	margin: 10px 14px 0px 14px;
}

.map img{
	width: 100%;
	margin-top: 70px;
	background: url(../img/map.png) center/cover no-repeat;
}

.map input{
	position: relative;
	top: -170px;
	left: 680px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 25px;
    box-shadow: 5px 5px 10px #525252;
}

.map p{
	border: 1px solid #000;
	text-align: center;
	background: #354051;
	margin-top: -40px;
	padding: 20px;
	color: #fff;
	font-size: 10px;
}